In [31]:
#importing dependencies and keys

from config import g_key #make sure quotes around g_key in config file, and don't put config.py since we're importing to another python file

import gmaps
import pandas as pd
import requests

#open csv file with pandas
file_to_load = "cities.csv"

cities_df = pd.read_csv(file_to_load)

In [32]:
#configure google maps to use API key (just have to do this once)
gmaps.configure(g_key)



cities_df
cities_df.dtypes #info used with gmaps has to be float or integer, so it's all good
cities_df.head()
cities_df = cities_df.dropna() #taking out three cities that didn't have a country???
cities_df.count()

city_id      590
city         590
country      590
date         590
latitude     590
longitude    590
max_temp     590
humidity     590
clouds       590
wind         590
dtype: int64

In [3]:
#make a heatwave map. Need latitude, longitude, and a value to map:

# 1. assign locations to an array of latitude and longitude pairs
location = cities_df[["latitude", "longitude"]]

# 2. assign weight variable to some values (this must be same length as lat and long pair array length)
temperatures = cities_df["max_temp"] #this variable is made in the following cell
temperatures

# 3. Assign the figure variable to the gmaps.figure() attribute.
# adjust zoom (center of earth is 31 degrees latitude and 31 degress longitude)
fig = gmaps.figure(center=(31.0, 31.0), zoom_level=1.75)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
#dissipating=False (true is default) makes red parts stand out more in map, max intensity makes the red more red, point radius makes each radius larger
heatmap_layer = gmaps.heatmap_layer(location, weights=[max(temp,0) for temp in temperatures], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
#google heatmaps doesn't plot negative numbers, so use a for loop to take them out:

max_temps_only = []

for temp in temperatures:
    max_temps_only.append(max(temp,0)) #tells python to append whatever is higher, the temperature in the list or 0
        
temperatures.sort_values() #shows that there are no values under 0 

len(max_temps_only)

#using list comprehension: max_temps_only = [max(temp,0) for temp in temperatures]
#add this to above part where we put in the weight

590

In [5]:
#Percent humidity heatmap

location = cities_df[["latitude", "longitude"]]
humidity = cities_df["humidity"]

fig = gmaps.figure(center=(31.0,31.0), zoom_level=1.5)

heatwave_layer = gmaps.heatmap_layer(location, weights=[max(hum,0) for hum in humidity], 
                                     dissipating=False,
                                     max_intensity=300,
                                     point_radius=4)

fig.add_layer(heatwave_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#percent cloudiness heatmap

location = cities_df[["latitude","longitude"]]
clouds = cities_df["clouds"]

fig = gmaps.figure(center=(31.0,31.0), zoom_level=1.5)

heatmap_layer = gmaps.heatmap_layer(location, weights=clouds,
                                   dissipating=False,
                                   max_intensity=300,
                                   point_radius=4)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Wind Speed Heatmap

location=cities_df[["latitude", "longitude"]]
wind=cities_df["wind"]

fig=gmaps.figure(center=(31.0,31.0), zoom_level=1.5)

heatmap_layer = gmaps.heatmap_layer(location, weights=wind,
                                   dissipating=False,
                                   max_intensity=300,
                                   point_radius=4)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#input boxes:

min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [9]:
#filter cities_df by temp:

preferred_cities_df=cities_df.loc[(cities_df["max_temp"]>=min_temp) & (cities_df["max_temp"]<=max_temp)]
preferred_cities_df.isnull().sum()

preferred_cities_df

,city_id,city,country,date,latitude,longitude,max_temp,humidity,clouds,wind
5,5,Kapaa,US,2022-06-04 18:35:25,22.0752,-159.3190,76.98,86,20,8.05
7,7,Butaritari,KI,2022-06-04 18:35:26,3.0707,172.7902,80.74,70,75,9.08
8,8,Rikitea,PF,2022-06-04 18:35:26,-23.1203,-134.9692,75.67,74,100,9.69
10,10,Arani,IN,2022-06-04 18:26:22,12.6667,79.2833,86.14,54,78,4.36
16,16,Atuona,PF,2022-06-04 18:26:25,-9.8000,-139.0333,78.10,76,19,18.10
...,...,...,...,...,...,...,...,...,...,...
580,580,Jiazi,CN,2022-06-04 18:52:15,22.8779,116.0670,80.56,87,100,13.06
583,583,Bonthe,SL,2022-06-04 18:52:16,7.5264,-12.5050,80.47,76,60,10.49
585,585,Epe,NG,2022-06-04 18:52:17,6.5841,3.9834,79.48,82,99,7.16
588,588,Bandarbeyla,SO,2022-06-04 18:52:19,9.4942,50.8122,80.13,78,40,27.29
589,589,Boffa,GN,2022-06-04 18:52:19,10.1667,-14.0333,81.79,74,98,7.83

In [ ]:
#trying to find 3 null countries? This code doesn't work?

null=[]
for countr in cities_df["country"]:
    if countr == None:
        null.append(countr)
        
null

In [10]:
#creating a new DataFrame specifically for the data needed to create a heatmap and pop-up markers for hotels 
#based on coordinates from preferred cities dataframe (need new one since preferred cities one will be 
#continuously filtered)

hotel_df = preferred_cities_df[["city", "country", "latitude", "longitude", "max_temp"]]
hotel_df["hotel_name"]=""

hotel_df

/Users/emarieswenson/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            city country  latitude  longitude  max_temp hotel_name
5          Kapaa      US   22.0752  -159.3190     76.98
7     Butaritari      KI    3.0707   172.7902     80.74
8        Rikitea      PF  -23.1203  -134.9692     75.67
10         Arani      IN   12.6667    79.2833     86.14
16        Atuona      PF   -9.8000  -139.0333     78.10
..           ...     ...       ...        ...       ...        ...
580        Jiazi      CN   22.8779   116.0670     80.56
583       Bonthe      SL    7.5264   -12.5050     80.47
585          Epe      NG    6.5841     3.9834     79.48
588  Bandarbeyla      SO    9.4942    50.8122     80.13
589        Boffa      GN   10.1667   -14.0333     81.79

[179 rows x 6 columns]

In [29]:
#getting hotels from google API

# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows(): #iterrows lets you go through indecies and rows 
    #getting latitude and longitude
    lat=row["latitude"]
    lng=row["longitude"]
    
    params["location"]= f"{lat},{lng}"
   
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    #make a request:
    hotels = requests.get(base_url, params=params).json()
    
    try: #Recall that when trying to parse the data from an API request, we need to use a try-except block to handle the error with a statement and continue the retrieval.
        #get hotel name from json and put it in the hotel_df dataframe
        hotel_df.loc[index, "hotel_name"]=hotels["results"][0]["name"] #only gets name of first hotel
    
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [30]:
hotel_df

,city,country,latitude,longitude,max_temp,hotel_name
5,Kapaa,US,22.0752,-159.3190,76.98,Sheraton Kauai Coconut Beach Resort
7,Butaritari,KI,3.0707,172.7902,80.74,Isles Sunset Lodge
8,Rikitea,PF,-23.1203,-134.9692,75.67,People ThankYou
10,Arani,IN,12.6667,79.2833,86.14,KPK LODGE
16,Atuona,PF,-9.8000,-139.0333,78.10,Villa Enata
...,...,...,...,...,...,...
580,Jiazi,CN,22.8779,116.0670,80.56,Hotel Jin Hao
583,Bonthe,SL,7.5264,-12.5050,80.47,Bonthe Holiday Village
585,Epe,NG,6.5841,3.9834,79.48,MAGVILLE HOTEL
588,Bandarbeyla,SO,9.4942,50.8122,80.13,JABIR HOTEL
589,Boffa,GN,10.1667,-14.0333,81.79,Hôtel Niara Belly

In [16]:
params

{'radius': 5000,
 'type': 'lodging',
 'key': 'AIzaSyD_HNPZVkmFSjzELLLsIzebtYNCdCvDHkQ',
 'location': '10.1667,-14.0333'}

In [1]:
#making maxtemp heatmap from hotel_df dataframe

location=hotel_df[["latitude", "longitude"]]
temp=hotel_df["max_temp"]

fig=gmaps.figure(center=(31.0,31.0), zoom_level=1.5)

heatmap_layer = gmaps.heatmap_layer(location, weights=temp,
                                   dissipating=False,
                                   max_intensity=300,
                                   point_radius=4)
#all the infobox stuff
info_box = """
<dl>
<dt>Hotel Name</dt><dd>{hotel_name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
<dt>Max Temp</dt><dd>{max_temp}</dd>
</dl>
"""
hotel_info = [info_box.format(**row) for index, row in hotel_df.iterrows()]

#making layer for markers and infobox on markers
marker_layer = gmaps.marker_layer(location, info_box_content=hotel_info)

#adding heatmap layer
fig.add_layer(heatmap_layer)

#adding marker layer
fig.add_layer(marker_layer)

fig

NameError: name 'hotel_df' is not defined