## Deliverable 3. Create a Travel Itinerary Map.

In [40]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import os

# Import API key
from config_weather_2 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

file_path=os.path.join("..", "Weather database", "WeatherPy_vacation.csv")

vacation_df = pd.read_csv(file_path)
vacation_df.head()

,City_ID,city,country,max_temp,weather_description,latitude,longitude,hotel_name
0,4,Road Town,VG,86.04,scattered clouds,-64.6167,18.4167,"ZINGARA 76ft Catamaran, full crew-all included"
1,14,Kahului,US,82.42,scattered clouds,-156.4700,20.8947,Maui Seaside Hotel
2,34,Butaritari,KI,80.83,light rain,172.7902,3.0707,Isles Sunset Lodge
3,39,Kapaa,US,80.11,scattered clouds,-159.3190,22.0752,Sheraton Kauai Coconut Beach Resort
4,46,Georgetown,MY,82.33,few clouds,100.3354,5.4112,Cititel Penang

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
<dt>Weather Description</dt><dd>{weather_description}</dd>
<dt>Max Temp</dt><dd>{max_temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()] #changed clean_hotel_df to vacation_df

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["longitude", "latitude"]] #changed clean_hotel_df to vacation_df

In [12]:
# 4a. Add a marker layer for each city to the map.
fig=gmaps.figure(center=(31.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [94]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
#4 cities are: Conceicao Do Araguaia, Urucui, Simplicio Mendes, Salinopolis

# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["city"]=="Conceicao Do Araguaia"]
vacation_end = vacation_df.loc[vacation_df["city"]=="Conceicao Do Araguaia"]
vacation_stop1 = vacation_df.loc[vacation_df["city"]=="Urucui"]
vacation_stop2 = vacation_df.loc[vacation_df["city"]=="Simplicio Mendes"] 
vacation_stop3 = vacation_df.loc[vacation_df["city"]=="Salinopolis"] 
vacation_stop3

,City_ID,city,country,max_temp,weather_description,latitude,longitude,hotel_name
87,597,Salinopolis,BR,80.4,overcast clouds,-47.3561,-0.6136,Salinas Park Resort Maçarico AP101

In [95]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = ((vacation_start["longitude"].to_numpy()[0]), (vacation_start["latitude"].to_numpy()[0])) #to_numpy makes the slice of the dataframe into an array
end = ((vacation_end.to_numpy()[0][6]), (vacation_end.to_numpy()[0][5]))       #my lat and lng are still switched, so unswitching them here
stop1 = ((vacation_stop1.to_numpy()[0][6]), (vacation_stop1.to_numpy()[0][5]))
stop2 = ((vacation_stop2.to_numpy()[0][6]), (vacation_stop2.to_numpy()[0][5]))
stop3 = ((vacation_stop3.to_numpy()[0][6]), (vacation_stop3.to_numpy()[0][5]))
start

(-8.2578, -49.2647)

In [98]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()

#biking layer
bike = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="BICYCLING") #, "BICYCLING", "WALKING"])
#fig.add_layer(bike)

#driving layer
drive = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(drive)

#Walking layer
walk = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="WALKING")
#fig.add_layer(walk)

#display fig
fig

Figure(layout=FigureLayout(height='420px'))

In [99]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,city,country,max_temp,weather_description,latitude,longitude,hotel_name
0,617,Conceicao Do Araguaia,BR,87.35,scattered clouds,-49.2647,-8.2578,Tarumã Tropical Hotel
1,261,Urucui,BR,89.87,few clouds,-44.5561,-7.2294,Hotel Premium Piauí
2,575,Simplicio Mendes,BR,86.90,scattered clouds,-41.9103,-7.8539,Fidalgo
3,597,Salinopolis,BR,80.40,overcast clouds,-47.3561,-0.6136,Salinas Park Resort Maçarico AP101

In [105]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{hotel_name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
<dt>Weather Description</dt><dd>{weather_description}</dd>
<dt>Max Temp</dt><dd>{max_temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["longitude", "latitude"]]

In [106]:
# 11a. Add a marker layer for each city to the map.
fig=gmaps.figure(center=(31.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))